html, body
{
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#panelsMainContainer
{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.pnls-panelGroup
{
    position: absolute;
    left: 0px;
    top: 0px;
}

.pnls-panel
{
    position: absolute;
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.pnls-panelTopBar
{
    position: aboslute;
}

.pnls-panelUndockBtn
{
    height: 20px;
    width: 20px;
    margin-left: auto;
    cursor: pointer;
}

.pnls-panelUndockBtn::before
{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    transform: translate(3px, 3px);
}

.pnls-panelUndockBtn::after
{
    content: "";
    position: absolute;
    height: 20px;
    width: 14px;
    transform: translate(8px, 8px) rotate(-45deg);
}

.pnls-panelContent
{
    padding: 10px;
    content: "cia coco";
}

.pnls-separator-container
{
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
}

.pnls-floatingWindow
{
    position: absolute;
}

.pnls-floatingWindowTopBar
{
    position: relative;
    display: flex;
}

.pnls-floatingWindowDragArea
{
    width: auto;
}

.pnls-floatingWindowBtnsArea
{
    width: auto;
    align-self: flex-end;
    display: flex;
    justify-content: end;
}

.pnls-floatingWindowBtnsClose
{
    align-self: flex-end;
    width: 20px;
    height: 100%;
    transition: background-color 0.2s;
    text-align: center;

    cursor: pointer;
}

.pnls-floatingWindowBtnsClose:hover
{
}

.pnls-floatingWindowBtnsClose::before, .pnls-floatingWindowBtnsClose::after
{
    content: "";
    display: inline-block;
    height: 100%;
    width: 2px;
    transform-origin: center;
}
.pnls-floatingWindowBtnsClose::before
{
    transform: translate(50%, -0%) rotate(45deg);
}


.pnls-floatingWindowBtnsClose::after
{
    transform: translate(-50%, -0%) rotate(-45deg);
}




.pnls-floatingWindowBtnsMaximize
{
    text-align: center;
    cursor: pointer;
}

.pnls-floatingWindowBtnsMaximize::before
{
    content: "";
    display: inline-block;
    height: 60%;
    margin-top: 7.5%;
    width: 60%;
    transform-origin: center;
}






.pnls-floatingWindowBtnsMinimize
{
    text-align: center;
    cursor: pointer;
}

.pnls-floatingWindowBtnsMinimize::before
{
    content: "";
    display: inline-block;
    margin-top: 10%;
    height: 80%;
    width: 2px;
    transform-origin: center;
    transform: translate(0%, 0%) rotate(90deg);
}





.contextMenuContainer
{
    padding: 1px;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    overflow: hidden;
}

.contextMenuElement
{
    padding: 5px;
    -webkit-user-select: none;
    user-select: none;

    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contextMenuElement:hover
{
}

.contextMenuElement:active
{
}

.contextMenuElementRed
{
}

.contextMenuElementRed:hover
{
}

.contextMenuElementRed:active
{
}
